@import 'fonts.css';
@import 'animation.css';
@import 'style.css';

/* SECTION 1 OF THE PAGE (introduction) */
.section1, .section {
    background-color: #1F2937;
}

.subSection {
    display: flex;
    height: 400px;
}

.introduction {
    padding-left: 120px;
    margin: auto;
    width: 500px;
}

.section1Title {
    font-family: 'Roboto ExtraBold', sans-serif;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding-top: 10%;
}

.section1Subtext {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #E5E7EB;
    max-width: 90%;
}

.signUpButton {
    font-family: 'Roboto Bold', sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-style: none;
    height: 30px;
    width: 110px;
    border-radius: 8px;
    text-align: center;
    margin-top: 10px;
}

.placeholder {
    height: 200px;
    width: 500px; 
    margin: auto;
    margin-right: 140px; 
}

.placeholder img {
    width: 100%;
}

/* SECTION 2 OF THE PAGE (4 images) */
.section2 {
    margin-top: 30px;
    margin-bottom: 150px;
}

.section2Title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    font-family: 'Roboto ExtraBold', sans-serif;
    color: #1F2937;
    margin-bottom: 30px;
}

.images {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.img1, .img2, .img3, .img4 {
    height: 150px;
    width: 150px;
}

.images img {
    height: 100%;
    width: 100%;
    border: solid;
    border-radius: 20px;
    border-color: #3882F6;
}

.imgText {
    text-align: center;
    color: #1F2937;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

/* SECTION 3 OF THE PAGE (quote) */
.section3 {
    background-color: #E5E7EB;
    height: 400px;
}

blockquote {
    font-size: 36px;
    font-family: 'RobotoThinItalic', sans-serif;
    font-style: italic;
    color: #1F2937;
    text-align: center left;
    font-weight: lighter;
    width: 800px;
    margin: auto;
    padding-top: 90px;
  
}

.signature {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    width: 100%;
}

/* SECTION 4 OF THE PAGE (call to action) */
.section4 {
    background-color: #3882F6;
    margin: 100px auto;
    padding: 40px;
    width: 50%;
    border-radius: 10px;
    display: flex;
    gap: 80px;
}

.section4Title {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: bold;
    color: #F9FAF8;
}

.section4subText {
    font-family: 'Roboto', sans-serif;
    color: #F9FAF8;
    font-weight: normal;
    font-size: small;
}

.signUpButton2 {
    color: #F9FAF8;
    font-family: 'Roboto Bold', sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: #3882F6;
    border-style: solid;
    border-color: #F9FAF8;
    height: 30px;
    width: 110px;
    border-radius: 8px;
    text-align: center;
}

