@import 'fonts.css';
@import 'animation.css';

/* general setup */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

/* NAVIGATION BAR */
header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}

.logo {
    font-family: 'Roboto Bold', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.logo img {
    height: 5%;
    width: 5%;
    margin-bottom: -10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
}

.nav-item {
    list-style: none;
}

.nav-item a {
    padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.nav-item:hover a {
    border-bottom: 3px solid #3882F6;
}

/* FOOTER */
footer {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background-color: #1F2937;
    color: white;
    text-align: center;
    height: 60px;
    padding-top: 30px;
    margin-top: auto;
}

a.top {
    --offset: 100px;
    margin-left: calc(100vw - 180px);
    margin-top: calc(100vh + var(--offset));
    padding: 10px 20px;
    position: sticky;
    bottom: 24px;
    border: 1px dashed;
    border-radius: 10px;
    text-decoration: none;
    font-family: sans-serif;
    color: #fff;
    background: #3882f6;
}

.sectionTitle {
    font-family: 'Roboto ExtraBold', sans-serif;
    font-size: 48px;
    font-weight: bolder;
    color: #1F2937;
    padding-top: 10%;
    text-align: center;
}
